*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(image/791931e49d02961ab9588885981e6d0f.gif);
    background-position: center;
    background-size: contain;
}
.contaner{
    height: 737px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#todoform{
    height: 630px;
    width: 350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
    border-radius: 10px;
    background-color:transparent;

}
#todoform img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -35% ;
}
#todoform h1{
    color:red;
}
#todoform input{
    height: 30px;
    width: 200px;
    border: 1px solid red;
    border-radius: 20px;
}
.btn{
    height: 45px;
    width: 78px;
    border: 1px solid black;
    color: black;
    background-color: red;
    margin-bottom: 30px;
}
#table{
    height: 180px ;
    width: 300px;
   margin-bottom: -10%;
   border:2px solid red;
    background-color:transparent;
    color: white;
}
.action{
    height: 26px;
    width: 60px;
    margin: 5px 0px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: red;
}